
/*objeto interno da lista da navbar lateras*/
.inner-nav span{
	margin-left:20px;
}


.col-form-label{
	 line-height: 30px;
	 text-align: right;
}

/* tamanho dos glyphicons */
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

/*tabela com textos centralizados*/
.table-centered{
	text-align:center;
}

.table-centered th {
	text-align: center;
}

.table-centered caption{
	font-size:2em;
	text-align: center;
}

.dataTables_paginate .pagination{
	margin: 0px !important;
}

.dataTables_filter {
	float:right !important;
}

.dataTables_paginate{
	float:right !important;
}